.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.icon-container {
    display: flex;
    gap: 100px;
    align-items: center;
}
.icon-container i {
    font-size: 22px;
}
.profile-img {
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px;
}