.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.icon{
    display: flex;
    gap: 100px;
    align-items: center;
    font-size: 22px;
    padding: 5px;
    margin: 15px;
}

.profile-img {
    border-radius: 50%;
    border: 1px solid black;
    padding: 2px;
}